.App {
  text-align: center;
}

.App-title {
  background-color: #282c34;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.App-feature-group-title {
  color: #282c34;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.App-feature-group {
  padding: 0.5rem;
  margin: 0.5rem;
  border: #282c34;
  border-style: solid;
  border-width: 2px;
}

.App-input-feature {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.App-submit {
  padding: 2rem;
}

.App-prediction-block {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #282c34;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  font-size: 1.5rem;
  font-weight: 700;
}